/* 預設:手機尺寸小於376 */

/* head 區塊 */
.head{
	width:100%;
	min-width:360px;
}
.head .wrap{
	height:80px;
	margin:auto;
	background:linear-gradient(0deg,#FF9224,#FF6D38);
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	position:relative;
}

/* head logo 區塊 */
.head .wrap .head_logo{
	flex-grow:1;
	width:280px;
	height:80px;
	display:flex;
	flex-wrap:nowrap;
}
.head .wrap .head_logo img{
	display:block;
	width:100px;
	height:80px;
	border-radius:5px;
	padding:0 0 0 20px;
}
.head .wrap .head_logo p{
	width:120px;
	height:80px;
	color:#fff;
	line-height:80px;
	font-size:20px;
	font-style:italic;
	vertical-align:middle;
	text-align:center;
	position:relative;
}
.head .wrap .head_logo p::after{
	content:"";
	display:block;
	width:120px;
	height:7px;
	
	background:linear-gradient(90deg,#842B00,rgba(0,0,0,0));
	position:absolute;
	top:50px;
	left:14px;
}


/* head 項目 區塊 */
.head .wrap .head_item{
	height:100vh;
	width:100%;
	margin-left:-100%;
	background:#FF8000;
	position:absolute;
	top:100%;
	left:0;
	transition: margin-left .5s;
	z-index:2;
}
.head .wrap .head_item.show{
	margin-left:0px;
	box-shadow: 5px 5px 5px #FF8000;
}
.head .wrap .head_item ul{
	
}
.head .wrap .head_item ul li{
	
}
.head .wrap .head_item ul li a{
	display:block;
	width:100%;
	height:25px;
	padding:20px 0 ;
	border-bottom:2px solid #842B00;
	line-height:25px;
	text-align:center;
	text-decoration:none;
	font-size:25px;
	color:#642100;
	font-family: 'Noto Sans TC', sans-serif;
	background:#FFAF60;
}

/* head 小漢堡 區塊 */
.head .wrap .head_btn{
	flex-grow:0;
	width:80px;
	height:80px;
}
.head .wrap .head_btn .btn_img{
	width:60px;
	height:60px;
	margin:10px;
	border-radius:10px;
	background:	#000;
	position:relative;
	cursor:pointer;
}
/* head小漢堡橫條裝飾 */
.head .wrap .head_btn .btn_img div{
	height:5px;
	width:42px;
	border-radius:10px;
	position:absolute;
	margin:0 9px;
	background:#FF6D38;
}
/* cross代表漢堡點擊後的樣式 */
.head .wrap .head_btn .btn_img .decoration_1{
	top:15px;
	transition: .5s;
}
.head .wrap .head_btn .btn_img .decoration_1.cross{
	width:60px;	
	margin:0 12px;
	transform: rotate(45deg);
	transform-origin: left;
	top:7px;
	left:-3px;
}
.head .wrap .head_btn .btn_img .decoration_2{
	top:0;
	bottom:0;
	margin: auto 9px;
	opacity:1;
	transition: .5s;
}
.head .wrap .head_btn .btn_img .decoration_2.cross{
	opacity:0;
}
.head .wrap .head_btn .btn_img .decoration_3{
	bottom:15px;
	transition: .5s;
}
.head .wrap .head_btn .btn_img .decoration_3.cross{
	width:60px;	
	margin:0 12px;
	transform: rotate(-45deg);
	transform-origin:left;
	bottom:7px;
	left:-3px;
}

/* banner 區塊 */
.banner{
	width:100%;
	min-width:360px;
}
.banner .wrap{
	position:relative;
}
/* banner 圖片區 */

.banner .wrap .banner_img{
}
.banner .wrap .banner_img img{
	width:100%;
	vertical-align:middle;
}

/* banner 小圓圈 */
.banner .wrap .img_point{
	position:absolute;
	right:0;
	left:0;
	bottom:30px;
	margin:auto;
	text-align:center;
}
.banner .wrap .img_point div{
	display:inline-block;
	height:10px;
	width:10px;
	margin:0 10px;
	border:2px solid #fff;
	border-radius:50%;
	cursor:pointer;
}
.banner .wrap .img_point .active{
	background:#ffffff;
}

/* location 區塊 */
.location{
	width:100%;
	min-width:360px;
	background:linear-gradient(0deg,#BB3D00,#FF9224);
}
.location .wrap{
	width:360px;
	margin:auto;
	padding-bottom:50px;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	
}
/* location 標題 區塊 */
.location .wrap .location_topic{
	width:360px;
	height:100px;
}
.location .wrap .location_topic h3{
	height:50px;
	padding:25px 0;
	line-height:50px;
	font-size:32px;
	vertical-align:middle;
	text-align:center;
	color:	#642100;
	text-shadow:1px 1px 0 	#F9F900;
	font-family: 'Noto Sans TC', sans-serif;
	position:relative;
}
.location .wrap .location_topic h3::before{
	content:"";
	display:block;
	height:3px;
	background:#642100;
	position:absolute;
	bottom:20px;
	left:10px;
	right:10px;
	margin: 0 auto;
}
.location .wrap .location_topic h3::after{
	content:"";
	display:block;
	height:30px;
	width:30px;
	border: 10px solid 	#D94600;
	border-top:none;
	border-left:none;
	border-radius:0 50% 50% 50%; 
	position:absolute;
	right:0;
	bottom:0;
}
/* location 內容 區塊 */
.location .wrap .location_item{
}
.location .wrap .location_item .item{
	margin:30px 30px 0;
	width:300px;
	height:300px;
	border-radius:50%;
	overflow:hidden;
	position:relative;
	box-shadow:0 0 5px #642100;
}
.location .wrap .location_item img{
	height:300px;
}
.location .wrap .location_item .item .comment{
	display:block;
	width:300px;
	height:150px;
	position:absolute;
	top:70%;
	background:rgba(0,0,0,.5);
}
.location .wrap .location_item .item .comment h4{
	width:200px;
	height:30px;
	position:absolute;
	top:25px;
	right:0;
	left:0;
	margin:auto;
	line-height:30px;
	font-size:27px;
	text-align:center;
	color:#fff;
	font-family: 'Noto Sans TC', sans-serif;
}

/* location 內容 詳細資訊 區塊 */
.location .wrap .location_detail .detail{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:rgba(0,0,0,.8);
	z-index:2;
}
.location .wrap .location_detail .detail.show{
	display:block;
}
.location .wrap .location_detail .detail.show .detail_cont{
	position:absolute;
	width:300px;
	height:500px;
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
	font-family: 'Noto Sans TC', sans-serif;
	color:#fff;
}
.location .wrap .location_detail .detail.show .detail_cont h5{
	padding:30px 0;
	line-height:40px;
	font-size:25px;
	text-align:center;
}
.location .wrap .location_detail .detail.show .detail_cont p{
	line-height:30px;
	font-size:17px;
	text-align:center;
}
.location .wrap .location_detail .detail.show .detail_cont img{
	width:300px;
	vertical-align:middle;
	
}

/* ideal 區塊 */
.ideal{
	width:100%;
	min-width:360px;
	background:linear-gradient(180deg,#64A600,#8CEA00);
	box-shadow:0px -2px 3px rgba(0, 0, 0, .3);
}
.ideal .wrap{
	width:360px;
	margin:auto;
}
.ideal .wrap h3{
	height:50px;
	padding-top:20px;
	position:relative;
	line-height:50px;
	font-size:50px;
	text-align:center;
	color:#842B00;
	font-family: 'Noto Sans TC', sans-serif;
	text-shadow:1px 1px 2px #642100;
}
.ideal .wrap h3::before{
	content:"";
	display:block;
	width:25px;
	height:25px;
	border:10px solid #FF8000;
	position:absolute;
	top:0;
	left:25px;
	transform: rotate(49deg);
	box-shadow: 3px 5px 0px #D26900;
}
.ideal .wrap p{
	padding:20px;
	line-height:25px;
	font-size:20px;
	color:	#4F4F4F;
	font-family: 'Noto Sans TC', sans-serif;
}

/* production 區塊 */
.product{
	width:100%;
	min-width:360px;
	background:	#FFED97;
	position:relative;
}
.product::before{
	content:"Mini Choco";
	display:block;
	width:250px;
	height:300px;
	line-height:150px;
	font-size:80px;
	text-align:center;
	vertical-align:middle;
	color:rgba(255, 186, 117, .9);
	font-weight:900;
	font-style:italic;
	font-family: 'Noto Sans TC', sans-serif;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background:#rgba(0, 0, 0, 0);
}
.product .wrap{
	width:360px;
	margin:0 auto 0;
	position:relative;
	overflow:hidden;
}

/* production 標題 區塊 */
.product .wrap .product_topic{
	height:50px;
	padding-top:20px;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	font-size:40px;
	color:#842B00;
	font-family: 'Noto Sans TC', sans-serif;
	text-shadow:1px 1px 2px #642100;
	background:#FFED97;
}

/* production 按鈕 區塊 */
.product .wrap .product_btn{
	position:relative;
}
.product .wrap .product_btn div{
	position:absolute;
	top:200px;
	width:50px;
	height:70px;
	background:rgba(255, 161, 66, .5);
	box-shadow:0 0 5px #BB3D00;
	cursor:pointer;
}
.product .wrap .product_btn div:active{
	background:rgba(245, 78, 0, .8);
}
.product .wrap .product_btn .left_btn{
	left:0;
}
.product .wrap .product_btn .left_btn::after{
	content:"<";
	display:block;
	line-height:70px;
	vertical-align:middle;
	text-align:center;
	font-size:40px;
	color:	#FF5809;
	text-shadow:0 0 5px #BB3D00;
	background:rgba(0,0,0,0);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.product .wrap .product_btn .right_btn{
	right:0;
}
.product .wrap .product_btn .right_btn::after{
	content:">";
	display:block;
	line-height:70px;
	vertical-align:middle;
	text-align:center;
	font-size:40px;
	color:	#FF5809;
	text-shadow:0 0 5px #BB3D00;
	background:rgba(0,0,0,0);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

/* production point 區塊 */
.product .wrap .product_point{
	height:10px;
	padding:10px 0;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
}
.product .wrap .product_point .point_wrap{
	width:100px;
	background:#FFED97;
	margin:auto;
	display:flex;
	flex-wrap:nowrap;
}
.product .wrap .product_point div{
	height:10px;
	width:10px;
	margin:0 3px;
	border-radius:5px;
	background:#FF9224;
	flex-grow:0;
	transition: flex-grow .5s, background .5s;
}
.product .wrap .product_point .show{
	background:#BB3D00;
	flex-grow:1;
}

/* production 產品項目 區塊 */
.product .wrap .product_card{
	padding:20px 0 30px;
}
.product .wrap .product_card ul{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	width:auto;
	margin-left:0px;
	background:rgba(0, 0, 0, 0);
	transition: margin-left .5s;
}
.product .wrap .product_card ul li{
	width:300px;
	padding:20px;
	margin:0 60px;
	border-radius:5px;
	box-shadow:1px 1px 5px #FF8080;
	background:#FFB8B8;
	text-align:center;
}
.product .wrap .product_card ul li img{
	vertical-align:middle;
	height:200px;
	width:200px;
}
.product .wrap .product_card ul li h3{
	padding-top:10px;
	height:30px;
	line-height:30px;
	font-size:24px;
	color:#642100;
	font-family: 'Noto Sans TC', sans-serif;
}
.product .wrap .product_card ul li p{
	height:180px;
	padding:10px 0;
	line-height:20px;
	font-size:17px;
	text-align:left;
	font-family: 'Noto Sans TC', sans-serif;
	color:#3C3C3C;
}
.product .wrap .product_card ul li .shop_btn{
	height:20px;
	width:198px;
	margin:auto;
	border: 1px solid #5B5B5B;
	border-radius:5px;
	padding:10px 0;
	line-height:20px;
	font-size:20px;
	color:#5B5B5B;
	font-family: 'Noto Sans TC', sans-serif;
	cursor:pointer;
	transition:background .3s;
}
.product .wrap .product_card ul li .shop_btn i{
	color:#642100;
}
.product .wrap .product_card ul li .shop_btn:hover{
	background:rgba(255,255,255,.5);
	color:#000;
}

/* footer 區塊 */
.footer{
	width:100%;
	min-width:360px;
}
.footer .wrap{
	min-width:360px;
	margin:0 auto;
	padding-top:20px;
	background:#000;
}
.footer .wrap .item_group{
	display:flex;
	color:#FFFF37;
}
.footer .wrap .item_group .item{
	width:30%;
	padding-left:3%;
	padding-bottom:20px;
	font-family: 'Noto Sans TC', sans-serif;
}
.footer .wrap .item_group .item h3{
	height:25px;
	padding:5px 0 5px 5px;
	border-bottom: 1px solid #FFFF37;
	line-height:25px;
	font-size:23px;
	text-align:left;
	color:#FF8000;
}
.footer .wrap .item_group .item ul{
	padding:5px 0 5px 5px;
}
.footer .wrap .item_group .item ul li{
	height:20px;
	padding:3px 0;
	line-height:20px;
	font-size:16px;
	text-align:left;
	font-weight:100;
}
.footer .wrap .copyright{
	height:50px;
	padding: 10px 0;
	line-height:25px;
	font-size:20px;
	text-align:center;
	font-family: 'Noto Sans TC', sans-serif;
	color:#000;
	background:linear-gradient(90deg,#FF8000,#FFFF37);
}
.footer .wrap .copyright a{
	text-decoration:none;
}









/* 電腦尺寸大於375px */
@media screen and (min-width:376px){
	
	/* body 區塊 */
	body{
		background:#FFED97;
	}
	
	/* head 項目 區塊 */
	.head{
		width:100%;
		min-width:800px;
	}
	.head .wrap .head_item{
		height:80px;
		width:auto;
		min-width:500px;
		flex-grow:0;
		margin: 0 100px 0 0;
		background:rgba(0,0,0,0);
		position:static;
		transition:none;
	}
	.head .wrap .head_item.show{
		margin-left:0;
		box-shadow:none;
	}
	.head .wrap .head_item ul{
		display:flex;
	}
	.head .wrap .head_item ul li a{
		width:auto;
		height:30px;
		padding:25px 30px;
		position:relative;
		border-bottom:none;
		line-height:25px;
		text-align:center;
		text-decoration:none;
		font-size:18px;
		
		color:#ffffff;
		font-family: 'Noto Sans TC', sans-serif;
		background:rgba(0,0,0,0);
		transition:background .5s;
	}
	.head .wrap .head_item ul li a::after{
		content:"";
		display:block;
		height:1px;
		position:absolute;
		bottom:30px;
		left:50%;
		right:50%;
		background:#ffffff;
		transition:left .5s,right .5s;
	}
	.head .wrap .head_item ul li a:hover{
		background:	#000000;
	}
	.head .wrap .head_item ul li a:hover::after{
		left:30px;
		right:30px;
	}
	
	/* head 小漢堡 區塊 */
	.head .wrap .head_btn{
		display:none;
	}
	
	/* banner 區塊 */
	.banner{
		width:100%;
		min-width:1000px;
	}
	
	/* location 區塊 */
	.location{
		min-width:1000px;
	}
	.location .wrap{
		width:1000px;
	}
	/* location 標題 區塊 */
	.location .wrap .location_topic{
		width:1000px;
		height:140px;
	}
	.location .wrap .location_topic h3{
		
		height:70px;
		padding:35px 0;
		line-height:70px;
		font-size:60px;
	}
	.location .wrap .location_topic h3::before{
		left:180px;
		right:180px;
	}
	.location .wrap .location_topic h3::after{
		bottom:10px;
		right:190px;
	}
	/* location 內容 區塊 */
	.location .wrap .location_item{
		position:relative;
		height:600px;

	}
	.location .wrap .location_item .item{
		cursor:pointer;
		position:absolute;
		transition:transform .5s;
	}
	.location .wrap .location_item .item:nth-child(1){
		top:10px;
		left:0;
		right:0;
		margin:0 auto;
	}
	.location .wrap .location_item .item:nth-child(2){
		bottom:30px;
		left:60px;
	}
	.location .wrap .location_item .item:nth-child(3){
		bottom:30px;
		right:60px;
	}
	.location .wrap .location_item .item:hover{
		transform:scale(1.2,1.2);
	}
	
	.location .wrap .location_item .item:hover .comment{
		opacity:1;
	}
	.location .wrap .location_item .item img{
		height:300px;
	}
	.location .wrap .location_item .item .comment{
		opacity:0;
		transition:opacity .8s;
	}
	
	/* location 內容 詳細資訊 區塊 */
	.location .wrap .location_detail .detail.show{
		display:block;
		transform:none;
	}
	
	.location .wrap .location_detail .detail.show .detail_cont{
		width:800px;
		height:300px;
		top:0;
		bottom:0;
	}
	.location .wrap .location_detail .detail.show .detail_cont img{
		float:left;
		width:300px;
		height:250px;
		margin-right:30px;
	}
	.location .wrap .location_detail .detail.show .detail_cont h5{
		font-size:30px;
	}

	/* ideal 區塊 */
	
	.ideal{
		min-width:1000px;
		background:linear-gradient(125deg,#000 50%,#F9F900 50%);
	}
	.ideal .wrap{
		width:1000px;
		padding:10px 0;
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		background: linear-gradient(125deg,#000 25%,#F9F900 25%);
	}
	.ideal .wrap h3{
		width:0px;
		flex-grow:2;
		height:50px;
		padding:20px;
		line-height:40px;
		font-size:40px;
		text-align:left;
		color:#FF8000;
	}
	.ideal .wrap h3::before{
		top:90%;
		left:35px;
		transform: rotate(55deg);
		box-shadow: none;	
	}
	.ideal .wrap h3::after{
		content:"";
		display:block;
		width:15px;
		height:15px;
		border:8px solid #FF8000;
		position:absolute;
		top:90%;
		left:100px;
		transform: rotate(55deg);
	}
	.ideal .wrap p{
		flex-grow:8;
		width:0px;
	}	
	
	/* production 區塊 */
	.product{
		width:1080px;
		margin:auto;
		overflow:hidden;
		padding-bottom:50px;
	}
	.product::before{
		width:500px;
		height:500px;
		line-height:250px;
		font-size:180px;
		color:rgba(255, 186, 117, .6);

	}
	.product .wrap{
		width:360px;
		overflow:visible;
		position:relative;
	}
	.product .wrap::before{
		content:"";
		display:block;
		width:360px;
		position:absolute;
		top:0;
		bottom:0;
		right:360px;
		margin:auto 0;
		background:linear-gradient(90deg,#FFED97,rgba(255, 238, 153, 0));
	}
	.product .wrap::after{
		content:"";
		display:block;
		width:360px;
		position:absolute;
		top:0;
		bottom:0;
		left:360px;
		margin:auto 0;
		background:linear-gradient(270deg,#FFED97,rgba(255, 238, 153, 0));
	}
	/* production 標題 區塊 */

	/* production 按鈕 區塊 */

	.product .wrap .product_btn .left_btn{
		left:0px;
	}
	.product .wrap .product_btn .right_btn{
		right:0px;	
	}
	/* production point 區塊 */

	/* production 產品項目 區塊 */
	.product .wrap .product_card{
		padding:20px 0 30px;
	}
	.product .wrap .product_card ul{
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		width:auto;
		margin-left:0px;
		transition: margin-left .5s;
	}
	.product .wrap .product_card ul li{
		width:300px;
		padding:20px;
		margin:0 60px;
		text-align:center;
	}
	.product .wrap .product_card ul li img{
		vertical-align:middle;
	}
	.product .wrap .product_card ul li h3{
		padding-top:10px;
		height:30px;
		line-height:30px;
		font-size:27px;
		font-family: 'Noto Sans TC', sans-serif;
	}
	.product .wrap .product_card ul li p{
		padding:10px 0;
		line-height:20px;
		font-size:17px;
	}
	.product .wrap .product_card ul li .shop_btn{

	}
	
	/* footer 區塊 */
	.footer{
		min-width:1080px;
	}
	.footer .wrap{
		min-width:1080px;
	}
	.footer .wrap .item_group{
	}
	.footer .wrap .item_group .item{
	}
	.footer .wrap .item_group .item h3{
		height:25px;
		padding:5px 0 5px 5px;
		border-bottom: 1px solid #FF8000;
		line-height:25px;
		font-size:23px;
		text-align:left;
		color:#fff;
	}
	.footer .wrap .item_group .item ul{
	}
	.footer .wrap .item_group .item ul li{
		padding: 0;
		line-height:30px;
		font-size:15px;
		height:30px;
		text-align:left;
		color:#fff;
		transition:color .5s;
	}
	.footer .wrap .item_group .item ul li:hover{
		color:#FF8000;
		cursor:pointer;
	}
	.footer .wrap .copyright{
		height:20px;
		padding: 15px 0;
		line-height:20px;
		font-size:14px;
		text-align:center;
		font-family: 'Noto Sans TC', sans-serif;
	}

	
	
}
